<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>KENLEXAN</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'PMS-home' %}">KENLEXAN LTD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'PMS-home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Githurai' %}">Githurai Tenants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Roysambu Tenants</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
              {% else %}
              <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
              {% endif %}
            </li>
           </ul>
        </div>
        </div>
      </div>
    </nav>

    
{% if user.is_authenticated %}
<!-- MAIN CONTENT -->
    <div class="container">
      <div class="row card justify-content-md-center mb-5">
        <div class="col text-center">
         <h2>{{Roysambuproperty.propertyName}}</h2>
        </div>
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Month</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">January</a></li>
            <li><a class="dropdown-item" href="#">February</a></li>
            <li><a class="dropdown-item" href="#">March</a></li>
            <li><a class="dropdown-item" href="#">April</a></li>
            <li><a class="dropdown-item" href="#">May</a></li>
            <li><a class="dropdown-item" href="#">June</a></li>
            <li><a class="dropdown-item" href="#">July</a></li>
            <li><a class="dropdown-item" href="#">August</a></li>
            <li><a class="dropdown-item" href="#">September</a></li>
            <li><a class="dropdown-item" href="#">October</a></li>
            <li><a class="dropdown-item" href="#">November</a></li>
            <li><a class="dropdown-item" href="#">December</a></li>
          </ul>
        </div>
        <table class="bg-secondary text-white">
          <tr style="background: cornflowerblue;border: 2px solid royalblue;">
            <th>Name</th>
            <th>HouseNumber</th>
            <th>Amount to be paid</th>
            <th>Amount paid</th>
            <th>Balance</th>
            <th>Status</th>
          </tr>
          {% for payment in all_payments %}`  
          <tr class="border-3">
            <td>{{payment.TenantName}}</td>
            <td class="text-center">{{payment.AccountNumber}}</td>
            <td>{{payment.AmountToBePaid}}</td>
            <td>{{payment.AmountPaid}}</td>
            <td>{{payment.Balance}}</td>
            {% if payment.Balance > 0 %}
            <td class="badge bg-danger">Not paid</td>
            {% else %}
            <td class="badge bg-success">paid</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
{% else %}
<h2>KINDLY LOGIN WITH YOUR CREDENTIALS</h2>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>